@import url("https://use.typekit.net/wmt6rto.css");
@import url("https://use.typekit.net/zau1dfs.css");

$serif: "le-monde-livre-classic-byol", serif;
$header: "adobe-garamond-pro", serif;
$sans: "Work Sans", sans-serif;
$mono: "Fira Mono", monospace;